.container{
    background: #12233e;
    height: 80%;
    width: 90%;
    display: flex;
    border-radius: 3rem;

}
.containerMenu{
    width: 40%;
    border-radius: 3rem;
    padding-inline: 1rem;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem ;
}
.containerMenu > h2{
    color:rgb(14, 126, 223);
}
.food{
    background: #209ed8;
    display: flex;
    padding-inline: 1rem;
}
.containerOrder{
    width: 60%;

}
.order{
    height: 85%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.foodSelected{
    background: antiquewhite;
    display: flex;
    justify-content: space-around;
}
.foodSelected > h4{
    width: 70%;
    margin-bottom: 0;
}
.actions{
    height: 15%;
    display: flex;
    width: 100%; 
}

.actions > p {
    color:wheat;
    width: 60%; 
}
.actions > button{
    width: 40%; 
    height: 3rem;
    
}