.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container > div{
    overflow-y: scroll;
    height: 300px ;
}

.food{
    border: 2px solid rgb(43, 41, 41); 
    background: #000;
    color: antiquewhite;
}

.food h2, .food h4{
    padding-bottom: 0; 
    margin: 0;
}